@model Proje.MvcWebUI.Models.Cart


<ul class="navbar-nav my-2 my-lg-0">

        <li class="nav-item ">
            <i class="fa-solid fa-cart-shopping"></i>
            (@Model.CartLines.Count)
        </li>
       

</ul>
